{
  "presets": [
    [
      "env",
      {
        "useBuiltIns": true
      }
    ]
  ],
  "plugins": [
    [
      "transform-strict-mode",
      {
        "strict": true
      }
    ],
    "syntax-dynamic-import"
  ]
}
