{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-strict-mode",
      {
        "strict": true
      }
    ],
    "@babel/plugin-syntax-dynamic-import"
  ]
}
