{% extends 'base.twig' %}

{% block content %}
    <article role="main" class="co_page co_pb6">
        <div class="co_section co_section-home">
            <header class="co_header">
                <div class="co_wrap">
                    <h1 class="co_header-title">{{ options.title }}</h1>
                </div>
            </header>
            <div class="co_wrap">
                <div class="co_home">
                    {{ homepage|raw }}
                </div>
            </div>
        </div>
    </article>
{% endblock %}
