.colors
    padding 0
    list-style none
    display flex
    flex-wrap wrap
    margin 0 _rem(-6px)
    align-items stretch
    justify-content flex-start

    &-item
        width 14em
        margin 0 _rem(6px) _rem(12px)


