.color
    padding .25em
    height 100%
    display flex
    flex-direction column

    &-demo
        width 100%
        height 6em
        margin-bottom .25em
        border-radius .25em

    &-caption
        display block
        border-radius .25em
        flex 1
        margin-top 0
        background-color var(--co-color-bg-base)
        color var(--co-color-min)
        text-align center
        padding .25em

    &-name
        display block
        margin-bottom .25em

    &-hex
        display block
        font-size .9em
        text-transform uppercase
        color var(--co-color-theme-text)
