@require 'colette/src/styl/_components/_footerbar'

/* footer */
.footerbar
    --footer-color: var(--color-theme)
    --footer-color-foreground: var(--color-theme-foreground)

    a
        color var(--color-base)
