@require 'node_modules/colette/src/styl/_components/_footerbar'

/* footer */
.footerbar
    --footer-color: var(--co-color-theme)
    --footer-color-foreground: var(--co-color-theme-foreground)

    a
        color var(--co-color-base)
