.header
    _p(4 0 3)
    background-color darken($co-color-background, 40)
    color $co-color-tertiary

    a
        color inherit
        text-decoration underline

        &:hover
            text-decoration none

    &-title
        padding 0 0 .25em
        margin 0 auto
        font-weight normal
        font-size 4.8em
        color $co-color-tertiary
        line-height 1

        strong
            font-size .25em
            color inherit

