.header
    _p(4 0 3)
    background-color var(--color-theme-bg)
    color var(--color-max)

    a
        color inherit
        text-decoration underline

        &:hover
            text-decoration none

    &-title
        padding 0 0 .25em
        margin 0 auto
        font-weight normal
        font-size 4.8em
        color var(--color-max)
        line-height 1

        strong
            font-size .25em
            color inherit

