.symbols
    list-style: none
    padding 0
    margin 0
    padding 0
    border-bottom 1px solid $co-color-borders
    list-style none
    display flex
    flex-wrap wrap
    margin 0 _rem(-6px)
    align-items stretch
    justify-content flex-start

    &-item
        width 8em
        margin 0 _rem(6px) _rem(12px)

    &-group
        clear both
        float none
        margin 1em 0 2em
        width 100%

        &-title
            padding 0 0 _rem(12px)
            margin 0 0 _rem(12px) 0
            font-weight bold
            font-size 1.4em
            border-bottom 1px solid $co-color-borders
