.symbol
    padding .25em
    margin 0
    border-radius .25em
    text-align center

    &-demo
        display block
        padding 0
        margin-bottom .25em

    &-name
        display block
        border-radius .25em
        padding .25em
        background-color var(--color-bg-base)
        color var(--color-min)
