$co-color-theme = #44638a

$co-color-black = #000000
$co-color-white = #ffffff

$co-color-highlight = #cc3366

$co-color-bg-base = #f1f1f1
$co-color-bg-secondary = #fff
$co-color-base = #333

$co-color-bg-base-dark = #222
$co-color-bg-secondary-dark = #333
$co-color-bg-tertiary-dark = #e7e7e7
$co-color-base-dark = #e1e1e1

:root
[data-theme=light]
    --light-max: 100%
    --light-min: 0%

    --color-min: $co-color-black
    --color-max: $co-color-white

    --color-theme: $co-color-theme
    --color-theme-text: $co-color-theme
    --color-theme-foreground: lighten(desaturate($co-color-theme, 30%), 65%)
    --color-theme-muted: lighten(desaturate($co-color-theme, 30%), 50%)
    --color-theme-borders: lighten(desaturate($co-color-theme, 30%), 70%)
    --color-theme-bg: darken(desaturate($co-color-theme, 30%), 40%)

    --color-highlight: $co-color-highlight

    --color-bg-base: $co-color-bg-base
    --color-bg-secondary: $co-color-bg-secondary
    --color-base: $co-color-base
    --color-base-foreground: $co-color-white

    --color-fade: $co-color-bg-tertiary-dark

[data-theme=dark]
    --light-max: 0%
    --light-min: 100%

    --color-min: $co-color-white
    --color-max: $co-color-black

    --color-theme: $co-color-theme
    --color-theme-text: lighten(saturate($co-color-theme, 30%), 20%)
    --color-theme-foreground: lighten(desaturate($co-color-theme, 30%), 65%)
    --color-theme-muted: lighten(desaturate($co-color-theme, 30%), 50%)
    --color-theme-borders: darken(desaturate($co-color-theme, 40%), 50%)
    --color-theme-bg: lighten($co-color-theme, 20%)

    --color-highlight: lighten(saturate($co-color-highlight, 10%), 10%)

    --color-bg-base: $co-color-bg-base-dark
    --color-bg-secondary: $co-color-bg-secondary-dark
    --color-base: $co-color-base-dark
    --color-base-foreground $co-color-base

    --color-fade: lighten(invert($co-color-bg-tertiary-dark), 41)

// Not important for doc
$fontload-js ?= false

// colette settings
@require 'colette/src/styl/_settings/*'

// colette mixins and @blocks
@require 'colette/src/styl/_@blocks/*'
@require 'colette/src/styl/_mixins/*'

.co
    background-color var(--color-bg-base)

// do not style html elements in doc css
+prefix-classes('co_')
    @require 'colette/src/styl/_elements/_btn'
    @require 'colette/src/styl/_elements/_switch'

    @require 'colette/src/styl/_components/_box'

    @require '_components/_tabpanel'
    @require '_components/_footerbar'
    @require '_components/_symbols'
    @require '_components/_colors'
    @require '_components/_header'
    @require '_components/_intro'

    @require '_components/_symbol'
    @require '_components/_color'

    .markup
    .home
    .subsection
    .intro
        pre
            padding 0
            margin 0 0 _rem(16px)
            border-radius .25em
            border 1px solid var(--color-theme-borders)
            background-color var(--color-max)
            font-size 1em
            line-height 1.2
            overflow hidden

            code
                display block
                white-space pre
                overflow-x auto
                background #2b2b2b
                color #f8f8f2
                padding 1em

    .wrapper
        padding-top _rem(48px) /* menu button height */

        @media screen and (min-width: 60em) /* .co_content width + 2 * .co_sidebar width */
            // when screen size < 960px the sidebar isn't displayed, so we don't need that padding on the wrapper */
            padding-top 0
            padding-left _rem(240px)

    .page
        background-color var(--color-bg-base)
        color var(--color-base)
        position relative
        z-index 1

    .wrap
        _p(0 2)
        width 100%
        max-width _rem(1024px)
        margin 0 auto

    /* trigger sidebar */
    .navbar
        position fixed
        top 0
        right 0
        left 0
        z-index 10
        color var(--color-max)
        background-color var(--color-theme-bg)

        &-layout // wrap
            display flex
            align-items center
            justify-content space-between
            height _rem(48px)

            > *
                flex 0 0 auto

        &-menuButton
            background-color transparent

            svg
                fill var(--color-max)

        &-animated
            transition all .15s ease-in-out

        &-pinned
            transform translateY(0%)

        &-unpinned
            transform translateY(-100%)

        @media screen and (min-width: 60em)
            display none

    /* sidebar */
    .sidebar
        position fixed
        z-index 20
        top 0
        bottom 0
        left 0
        margin 0
        padding-left 0
        width _rem(240px)
        color var(--color-base)
        background-color var(--color-bg-secondary)
        box-shadow 2px 0px 4px -2px alpha($co-color-black, .2)
        overflow hidden
        transition transform .2s

        &:hover
            overflow-y auto

        @media not screen and (min-width: 60em)
            transform translateX(-100%)

            &-open
                transform translateX(0)
                overflow-y: auto
        ul
            margin 0
            padding 0

        li
            list-style none

        a
            display block
            padding .75em 1.5em
            background-color s('hsla(0, 0%, var(--light-min), 0)')
            transition background-color .3s

            &:hover
                background-color s('hsla(0, 0%, var(--light-min), .1)')

        &-children
            padding-left 0
            display none

            li
                a
                    padding-left 3em

        &-active
            > a
                color var(--color-highlight)

            ul
                display block

        &-brand
            a
                position relative
                height s('calc(%s + 1.5em)', _rem(60px)) /* logo height + vertical paddings */

            a:hover
                background-color transparent

            svg
                position absolute
                left _rem(240px/2 - 60px/2) /* sidebar width / 2 - logo width / 2 AVOID % here, otherwise it will cause the logo to blink when the scrollbar appears */
                width _rem(60px)
                height @width
                fill var(--color-theme-text)

    /* overlay */
    .overlay
        display block
        position fixed
        z-index 15
        top 0
        right 0
        bottom 0
        left 0
        background-color alpha($co-color-black, .8)
        opacity 1
        transition opacity .2s

        &[aria-hidden=true]
            display none
            opacity 0

        > button
            position absolute
            top 1em
            left s('calc(1em + %s)', _rem(240px)) /* 1em margin + sidebar width */
            background-color transparent
            color var(--color-max)
            font-size 2em
            line-height 1

    /* section */
    .section
        &-depth-2
            _pt(6)

        &-depth-3
            _pt(4)

        &-depth-4
            _pt(2)

        &-h1
        &-h2
        &-h3
        &-h4
        &-h5
        &-h6
            padding 0 0 _lh(.25)
            margin 0 auto
            font-weight normal
            color var(--color-min)

            a
                color inherit

                &:hover
                    color var(--color-theme-text)

                    strong
                        color inherit

        &-h2
            margin-top 0
            margin-bottom $lh
            border-bottom 1px solid var(--color-theme-borders)
            font-size _rem(56px)
            line-height _getLh(@font-size)
            color var(--color-theme-text)

        &-h3
            font-size _rem(34px)
            line-height _getLh(@font-size)

        &-h4
            font-size _rem(28px)
            line-height _getLh(@font-size)

        &-ref
            display block
            color s('hsla(0, 0%, var(--light-min), .5)')
            font-size _rem(12px)
            line-height _getLh(@font-size)
            text-transform uppercase

            &:before
                content 'section '

    /* homepage */
    .home
        _pt(6)
        color var(--color-base)

        h1
        h2
        h3
        h4
        h5
        h6
            padding 0 0 _lh(.25)
            margin 0 auto
            font-weight normal
            color var(--color-min)

            a
                color inherit

                &:hover
                    color var(--color-theme-text)

                    strong
                        color inherit

        h1
            margin-top 0
            margin-bottom 1em
            border-bottom 1px solid var(--color-theme-borders)
            font-size _rem(56px)
            line-height _getLh(@font-size)
            color var(--color-theme-text)

        h2
            font-size _rem(34px)
            line-height _getLh(@font-size)

        p
        ul
            margin 0
            padding-bottom _lh(1)

        hr
            margin-bottom _lh(1)

    /* subsection */
    .subsection
        _p(.5 0)

        &-title
            color var(--color-base)
            font-weight bold
            margin 0

            @media screen and (min-width: 48em)
                _pr(2)
                text-align right

        &-content
            color var(--color-base)
            margin 0

            > p
            > ul
                margin 0
                padding-bottom _lh(1)

                a
                    text-decoration underline

            > ul > li
                margin-left 1em

            p > code
                padding 0.05em .25em
                background-color s('hsla(0, 0%, var(--light-min), .1)')
                color var(--color-highlight)

        &-demo
            padding-bottom _rem(6px)
            border-bottom 1px solid var(--color-theme-borders)

        &-expand
            cursor pointer

    /* modifier */
    .modifier
        > p
            padding-bottom 0

    /* table */
    .table
        width 100%
        background-color var(--color-max)

        thead
            tr
                background-color var(--color-theme)

        tbody
            tr:nth-child(2n + 1)
                background-color s('hsla(0, 0%, var(--light-max), .2)')

    /* grid & list examples */
    .grid-demo
    .list-demo
        padding-bottom 2em

        [class^=g-col-]:empty:before
        &-item:empty:before
            content attr(class)
            display block
            padding 1em
            border 1px solid var(--color-bg-base)
            background-color var(--color-theme)
            color var(--color-theme--foreground)
            text-align center

    /* markup */
    .markup
        position relative

        pre
            _pa(1)
            position relative
            z-index 1
            margin-bottom 0
            overflow hidden
            border-radius 0
            border 0

    /* source */
    .source
        color var(--color-highlight)
        font-size .9em

    @require 'colette/src/styl/_helpers/_align'
    @require 'colette/src/styl/_helpers/_block'
    @require 'colette/src/styl/_helpers/_borders'
    @require 'colette/src/styl/_helpers/_mask'
    @require 'colette/src/styl/_helpers/_spaces'
    @require 'colette/src/styl/_helpers/_text'

@require './_vendors/_hljs.styl'
